* {
	margin:0;
	padding:0;
}

body{
	background-color:#fff;	
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.clear{
	width:0;
	height:0;
	clear:both;	
}


h1{
	margin-bottom: 0;
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;	
	color:#333;
}

div#top-right p{
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	margin: 0 0 9px;
	color:#333;	
}

#bottom-right p{
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	margin: 0 0 9px;
	color:#333;		
}


div#container{
	width:778px;
	margin:auto;
	min-height:500px;
	padding-top:70px;	
}
div#container img{
	float:left;	
}
div#top-right{
	margin-left:253px;
	background:whiteSmoke;
	height:100px;
	border-radius:10px;
	margin-bottom:10px;
	padding:30px;
}

div#bottom-right{
	height:20px;
	background:whiteSmoke;
	margin-left:253px;
	border-radius:10px;
	padding:30px;
	padding-top:24px
}

div#left-col{
	width:243px;
	min-height:40px;
	float:left;
	padding-top:40px;	
}

div#right-col{
	margin-left:253px;
	height:500px;
	padding-top:40px;
	overflow:hidden;	
}

h4{
	font-size:24px;
	color:#333;
	text-rendering: optimizelegibility;
	line-height:36px;	
}
a{
	color:#08C;
	text-decoration:none;
	font-size:13px;
	line-height:18px;
	border:0;	
}

ul{
	margin-left:20px;	
}

ul p{
	font-size: 12px;
	color: #666;
	text-align:justify;	
}

div#pastproj{
	height:460px;
	overflow:auto;	
}

div#pastproj ul > li{
	margin-bottom:10px
}

div.proj-pic{
	margin-top:5px;
	margin-bottom:5px;	
}
div.proj-pic img{
	margin-right:5px;
	border:0;
		
}
